<div class="graficPart__container">

  <div class="graficPart_container__content">

    <div class="container_content__header">
      <div class="content_header__vetor">
        <img src="/assets/Vector.svg" alt="" srcset="">
        <img src="/assets/Vector.svg" alt="" srcset="">
        <img src="/assets/Vector.svg" alt="" srcset="">
      </div>
      <div class="content_header__vetor2">
        <img src="/assets/Vector2.png" alt="" srcset="">
        <img src="/assets/Vector2.png" alt="" srcset="">
        <img src="/assets/Vector2.png" alt="" srcset="">
      </div>
    </div>



  <hr>

    <div class="container_content__body">
      <div class="content_body__vetores">
        <img class="vetorUp" src="/assets/Vector3.svg" alt="" srcset="">
        <img class="vetorDown" src="/assets/Vector4.svg" alt="" srcset="">
      </div>
      <div class="content_body__usersIcons">
        <img src="/assets/abelha.png" alt="">
        <img src="/assets/cachorro.png" alt="">
        <img src="/assets/flamingo.png" alt="">
        <img src="/assets/gato.png" alt="">
        <img src="/assets/lulu.png" alt="">
        <img src="/assets/tucano.png" alt="">
      </div>
    </div>
  </div>


</div>

