<div class="container_login">

  <div class="container__content_login">
    <h4>Bem vindo de volta</h4>
    <h1>Faça login na sua conta</h1>
    <form action="email">
      <label for="email">E-mail</label>
      <input type="email" id="email" autocomplete="on">
      <label for="password" >Senha</label>
      <input type="password" id="password" autocomplete="on">

      <div class="form-parteBaixo">

        <div class="checkbox-container">
          <input type="checkbox" id="myCheckbox" class="hidden-checkbox">
          <label for="myCheckbox" class="custom-checkbox"></label>
          <span>Lembre de mim</span>
        </div>

        <div class="form_parteBaixo__link">
          <a href="#"> Esqueceu sua senha? </a>
        </div>
      </div>
      <button class="logIn" type="submit">Entrar</button>
      <button class="logInWithGoogle" type="submit"><img src="/assets/iconGoogle.svg" alt=""> Ou faça login com o Google </button>
    </form>
    <div class="cadastro">
      <span>Não tem uma conta? <a href="http://" target="_blank" >Cadastre-se</a></span>
    </div>
  </div>

</div>
